{% block content %}
<div class="product-item">
    <img src="images/2.png" alt="">
    <p>365 Signature Hoodie</p>
    <div class="product-info">
        <p>€33.95</p>
        <ul class="color-list">
            <li class="white"><span class="green"></span></li>
            <li class="ping"></li>
            <li class="purple"></li>
            <li class="green-light"></li>
        </ul>
    </div>
</div>

<div class="product-item">
    <img src="images/3.png" alt="">
    <p>Organic Skinny High Waist Jeans</p>
    <div class="product-info">
        <p>€33.95</p>
        <ul class="color-list">
            <li class="white"><span class="green"></span></li>
            <li class="ping"></li>
            <li class="purple"></li>
            <li class="green-light"></li>
        </ul>
    </div>
</div>

<div class="product-item">
    <img src="images/4.png" alt="">
    <p>365 Signature Hoodie</p>
    <div class="product-info">
        <p>€33.95</p>
        <ul class="color-list">
            <li class="white"><span class="green"></span></li>
            <li class="ping"></li>
            <li class="purple"></li>
            <li class="green-light"></li>
        </ul>
    </div>
</div>
{% endblock %}
